<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}

    <meta charset="UTF-8" />
    <title>Travelling Salesman Problem</title>

    <!-- Third party external resources -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Own external resources -->
    <!-- Put custom styles shared between all templates here -->
    <link rel="stylesheet" type="text/css" href="/static/css/output.css" />

    {% endblock %}
  </head>

  <body>
    {% block content %} {% endblock %}
  </body>
</html>
