{% extends 'base.html' %} 
{% block head %}

<!-- You can load additional css or javascript files that are only used for this html file here  -->

<style>
  /* Put styling for this template here */
  #solution-map {
    position: absolute;
    height: 600px;
    width:80%;
    border-radius: 3%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    top: 170px;
    order: 1;
    z-index: 1;
    margin-top: 20px;
    margin-right: 100px;
  }

  #solution-container{
    height:600px; 
   }

</style>


<script>
  document.addEventListener("DOMContentLoaded", async ()=> {
    window.addEventListener('showSolutionModal', function(event) {
      const solutionData = event.detail
        showSolutionModal(solutionData.visit_order);
    });
    var cityCoordinates = {
        Berlin: [52.52, 13.405],
        Munich: [48.1351, 11.582],
        Hamburg: [53.5511, 9.9937],
        Cologne: [50.9375, 6.9603],
        Frankfurt: [50.1109, 8.6821],
        Stuttgart: [48.7758, 9.1829],
        Düsseldorf: [51.2277, 6.7735],
        Dortmund: [51.5139, 7.4653],
        Essen: [51.4566, 7.0128],
        Leipzig: [51.3397, 12.3731],
      };
    var solutionMap ;
     async function initializeMap(){
        // Initialize the map
        if (document.getElementById('solution-modal').style.display === 'block') {
          console.log('solution modal blockified')
          if (!window.solutionMap) {
              // Initialize the map if it hasn't been initialized
              solutionMap = L.map('solution-map').setView([51.1657, 10.4515], 6);
              L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                  attribution: '© OpenStreetMap contributors',
                  maxZoom: 18,
              }).addTo(solutionMap);
          } else {
             
              solutionMap.invalidateSize();
          }
          
      }
        
      }


    function showSolutionModal(order){
      document.getElementById('solution-modal').style.display='block';
      if(!solutionMap){
      initializeMap();
      }
      if (order) {
        setTimeout(function () {
          drawSolutionPath(order);
        }, 500);
  }
}

    
  
    function drawSolutionPath(order) {
      if (!solutionMap) {
          console.error('solutionMap is not initialized');
          return;
      }
      if (!Array.isArray(order)) {
          console.error('Order is not an array:', order);
          return; 
      }
  
      
      solutionMap.eachLayer(function(layer) {
          if (!!layer.toGeoJSON) {
              solutionMap.removeLayer(layer);
          }
      });
  
      var solutionPathCoordinates = order.map(function(cityName) {
          return cityCoordinates[cityName];
      }).filter(function(coord) { return !!coord; });
  
      var solutionPath = L.polyline(solutionPathCoordinates, { color: 'green' }).addTo(solutionMap);
  
  
      solutionMap.fitBounds(solutionPath.getBounds(), {
          padding: [50, 50]
      }).setView([51.1657, 10.4515], 6); 
   
      order.forEach(function(cityName, index) {
          var marker = L.marker(cityCoordinates[cityName], {
          
          }).addTo(solutionMap);
  
          marker.bindTooltip((index + 1).toString(), {
              permanent: true, 
              direction: 'top', 
              className: 'marker-tooltip', 
              offset: [0, -20] 
          }).openTooltip();
      });
  }
    
  
  
  
  
    function close_solution_Modal() {
      document.getElementById("solution-modal").style.display = "none";
    }
  
        document.getElementById("back-btn").addEventListener("click", function () {
          close_solution_Modal();
        });
        document.getElementById("back-doc-btn").addEventListener("click",function(){
          close_solution_Modal();
        })
  
  
      });
  
  
      
  
    </script>

{% endblock %} {% block content %}


<div
  id="solution-modal"
  tabindex="10"
  style="display: none;"
  class="fixed backdrop-blur-sm top-0 left-0 right-0 z-10 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative w-full max-w-hull max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-5 rounded-t dark:border-gray-600"
      >
        <h3 class="text-3xl font-bold">Solution</h3>
        <button
          type="button"
          id="back-btn"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center">
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div  id='soltion-details'class="p-6 space-y-6">
        <p class="text-base font-normal text-gray-500">
          Beautiful solution visualization. Wow.
        </p>
        <p class="text-base font-normal text-gray-500">
          Solution returned by post request of documentation template:
        </p>
        <div id="solution-container" class="">
          <!-- TODO: Add solution visualization here-->
          <div id="solution-map"></div>
            <!-- Map container -->
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="flex items-center p-6 space-x-2 border-gray-200 rounded-b">
        <button
          type="button"
          id="back-doc-btn"
          class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10"
        >
          Back to Documentation
        </button>
      </div>
    </div>
  </div>
</div>


<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

  
{% endblock %}
